* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: black;
    transition: background 0.2s linear;
}
body.light {
    background-color: #f3bac3;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s;
}
header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
body.light .logo {
    color: black;
}
header .logo:hover {
    color: #f3bac3;
    transition: 0.2s;
}
body.light .logo:hover {
    color: white;
}
header #toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
body.light header #toggle:before {
    background: black;
}
body.light header #toggle:after {
    background: black;
}
header #toggle:before {
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}
header #toggle:after {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}
.banner.active header #toggle:before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.banner.active header #toggle:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: url(../img/felipe.png);
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
}
.banner.active {
    transform: translateX(-200px);
}
body.light .banner {
    transition: 0.2s linear;
    background: #f3bac3;
}

ul li {
    list-style: none;
}
#navigation {
    position: fixed;
    top: 0;
    right: -220px;
    width: 220px;
    height: 100vh;
    background-color: #f3bac3;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;
}
body.light #navigation {
    background-color: black;
}
body.light #navigation ul li a {
    color: #f3bac3;
}
body.light #navigation ul li a:hover {
    color: white;
}
#navigation.active {
    right: 0;
}
#navigation ul {
    position: relative;
    display: flex;
    flex-direction: column;
}
#navigation ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.2s;
}
#navigation ul li a:hover {
    color: black;
}
.content {
    max-width: 600px;
}
.content h2 {
    color: #fff;
    font-size: 2.5em;
}
.content h2 span {
    color: #f3bac3;
    font-size: 1.2em;
}
.content p {
    font-size: 1.2em;
    color: #fff;
    font-weight: 300;
}
/*CONTENT LIGHT*/
body.light .content h2 {
    color: black;
}
body.light .content span {
    color: white;
}
body.light .content p {
    color: black;
}
body.light .content a {
    color: #f3bac3;
    background-color: black;
}
body.light .content a:hover {
    color: white;
    background-color: black;
}
.content a {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background: #fff;
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    transition: 0.2s;
}
.content a:hover {
    background-color: #f3bac3;
}
.sci {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 100px;
}
.sci li a {
    position: relative;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border: 1px solid #fff;
    margin: 10px 0 0;
    transition: 0.2s;
    right: -6px;
}
body.light .sci li a {
    border-color: black;
}
.sci li a:hover {
    background: #fff;
}
body.light .sci li a:hover {
    background: black;
}
.sci li a img {
    max-width: 20px;
    filter: invert(1);
    mix-blend-mode: difference;
}
/*Light and dark toggle */
.lights {
    position: relative;
    right: -450px;

}
.label {
    display: flex;
    width: 50px;
    height: 26px;
    background-color: #111;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.3);
    margin-top: 2.3px;
}
.label i {
    margin-top: 4px;
}
.checkbox {
    opacity: 0;
    position: absolute;
}
.checkbox:checked + .label .ball {
    transform: translateX(24px);
}
.fa-moon {
    color: #fff;
    align-items: center;
}
.fa-sun {
    color: #f3bac3;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 5px;
}
i img { 
    max-width: 19px;
}
.ball {
    width: 20px;
    height: 20px;
    background-color: #fff17c;
    position: absolute;
    top: 2.7px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}
body.light .ball {
    background-color: #f3bac3;
}

/*CARD*/
.card {
    position: absolute;
    top: 350px;;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
}
.card .front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff17c;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
}
.card .front img {
    max-height: 275px;
    margin-left: 13px;
    margin-top: 62px;
}
.card:hover .front {
    transform: rotateX(-180deg);
}
body.light .card .front {
    background: black;
}
body.light .card .back {
    background: black;
    color: #f3bac3;
}
body.light .card .back:before {
    background: rgba(255,255,255,0.2);
}

.card .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff17c;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
}
.card .back:before {
    content: '';
    position: absolute;
    left: 33%;
    top: 0;
    width: 33%;
    height: 100%;
    background: #fff7b7;
}

.card:hover .back {
    transform: rotateX(0deg);
}
.card .back .details {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
}
.card .back .details h2 {
    margin: 0;
    padding: 0;
    font-size: 2.4rem;

}
.card .back .details span {
    color: #55513c;
    font-size: 1.4rem;
    margin-top: 10px;
}
body.light .back .details span {
    color: white;
}
.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}
.social-icons img {
    max-width: 40px;
}
body.light .social-icons img {
    filter: invert(1);
    mix-blend-mode: difference;
}

@media (max-width: 767px) {
    header {
        padding: 2px 50px;
        top: 2.4rem;
    }
    .lights {
        display: none;
    }
    .banner {
        padding: 100px 50px 150px;
    }
    .banner h2 {
        font-size: 1.8em;
    }
    .banner .content p, .banner .content a {
        font-size: 1em;
    }
    .banner.active {
        transform: translateX(-250px);
    }
    #navigation {
        width: 215px;
    }
    #navigation ul li a {
        font-size: 1.5em;
        margin: 5px 0;
    }
    .sci {
        position: absolute;
        bottom: 50px;
        right: initial;
        flex-direction: row;
    }
    .sci li a {
        margin: initial;
        margin-right: 10px;
    }
}